<template>
  <div>
    <div style="display: flex; flex-direction:row;">
      <p style="order: 0;">Name:</p>
      <input type="text" style="order:1"/>
    </div>
    <div style="display: flex; flex-direction:row;">
      <p style="order: 0;">Surname:</p>
      <input type="text" style="order:1"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NameSurname',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
